body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
.container{
    width: 1080px;
    margin: 0 auto;
    /* background-color: blue; */
}

.red-box{
    position: absolute;
    background-color: red;
    width: 40px;
    height: 20px;
    bottom: 80px;
    padding: 3px;
    text-align: center;
    color: white;
}

.green-box{
    position: absolute;
    background-color: green;
    width: auto;
    height: 20px;
    bottom: 80px;
    left: 50px;
    padding: 3px;
    text-align: center;
    color: white; 
      
}

.heart-box{
    width: 40px;
    height: 40px; 
    background-color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 10px;
    right: 0;
}


/* Cards */
.card{
    margin-top: 50px;
    width: 33%;   
    display: inline-block;
    position: relative;
}

 .card-image{
    width: 100%;
    height: 500px;
    background-size:cover;
    display: inline-block;
} 

.card-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.card-price{
    font-weight: bold;
    color: red; 
}

.price-sales{
    text-decoration: line-through;
    color: black;
}

/* Hover */
.heart-box:hover{
    color: red;
    cursor: pointer;
}

.card-image-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
}

.card:hover .card-image-hover{
    display: inline;
}